# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this platform is hosted.
APP_URL="MY_APP_URL"

# CLOUDFLARE D1 SQLITE DATABASE (backend-db)
CLOUDFLARE_D1_DATABASE_NAME="backend-db"
CLOUDFLARE_D1_DATABASE_ID="161f312b-338c-45fa-ac67-c97025625623"

# FIREBASE ENTERPRISE BACKEND
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
