FLASK_SECRET_KEY=replace_with_secure_random_string_for_production
DB_ENC_KEY=replace_with_fernet_key_for_production
# You can generate a fernet key in python using: 
# from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())
